:root{
    --primario: #ee1d00;
    --secundario: #e3e3e3;
}

html{
    box-sizing: border-box;
    font-family: "Arial";

}

*, *:before, *:after {
    box-sizing: inherit;
}

#nav li {
    padding: 15px 25px 50px;
    display:inline-block;
}

form {
    padding: 3rem;
    margin-top: 2rem;
    position: absolute;
    left: 25%;
}
.campo {
   margin:25px ;
   display: flex;
   width: 50%;
}

.campo label {
    margin-right: 25px;
}
#cliente, #proceso, #type_sg {
    width: 100%;
}

.campo input {
    width: 150px;;
}
